*{
   
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color:black;
   color: white;
   font-family: verdana;
   font-size: 80px;


}

 .container{
 	text-align: center;
 }

 h1{

 	text-transform: uppercase;
 	margin: 200px 0;
 	display: inline-block;
 	position: relative;
 }

 h1::before{
 	content: "";
    width: 40%; 
    height: 4px;
    background: red;
    position: absolute;
    top:-20%;
    left: 50%;
    transform: translateX(-50%);
    transition:0.8s all;
 }

 h1::after{
 	content: "";
 	 width: 0%; 
    height: 4px;
    background: red;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    transition:0.8s all;
 }

 h1:hover::after{
    width: 100%;
 }

